#color-display {
  margin: 40px 0 0 10px;
  height: 450px;
  width: 200px;
  border-radius: 10px;
}

.additional_display {
  margin: 40px 0 0 10px;
  height: 450px;
  width: 200px;
  border-radius: 10px;
}

button {
  border: none;
  font-size: 1em;
}

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
